#header{
    font-weight: bold !important;

}
body{
    margin-left: 10px !important; 
    margin-right: 10px !important; 
}
td{
    text-align: center;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd !important;
    border-bottom: 1px solid #ddd !important;
}
th{
    text-align: center !important;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd !important;
    border-top: 2px solid #ddd !important;
}